.mainContainer{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    overflow: auto;
}

.message{
    display: grid;
    grid-template-columns: 1fr 2.5fr 7fr 1fr;
    margin-top: 1rem;
    background-color: rgba(223, 216, 216, 0.62);
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    gap: 0.2rem;
}
.message p{
    text-align: start;
    word-break: break-all;
}
.message p:nth-child(3){
    word-break: keep-all;
}
.message p:first-child{
    color: rgb(79, 45, 19);
    font-size: 0.8rem;
    width: 100px;
}
.message p:last-child{
    min-width: 55px;
    text-align: end;
    
}
.message img{
    height:40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.message p:nth-child(2){
    width: 100%;
}
.messageContainer{
    height: calc(100% - 60px);
    overflow: auto;
}
.signBtn{
    width: fit-content;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(230, 61, 59, 0.655);
    color: white;
    cursor: pointer;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
}
.signOutBtn{
    width: fit-content;
    align-self: center;
    padding: 0.5rem;

    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(230, 61, 59, 0.655);
    color: white;
    cursor: pointer;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
}