.inputDiv{
    position: relative;
    width: 100%;
    display: flex;
    grid-gap: 0.5rem;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.inputDiv input{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(41, 41, 41, 0.45);
    padding: 0.5rem;
    font-weight: bold;
    color: white;
    font-size: large;
    border-radius: 10px;
}
.inputDiv button{
    background:transparent;
    outline: none;
    border: none;
}
.sendBtn{
    font-size: 1.5rem;
    position: relative;
    color: rgb(112, 245, 112);
    justify-self: end;
    cursor: pointer;
    width: 30px;
    
}
.invalid{
    border: 1px solid red !important;
}